{% extends "layout.html" %}

{% block title %}
    Дебаты - Импорт
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Дебаты импортированы</h2>
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/round" role="button" id="back">Назад</a>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/import/elo" role="button" id="next">Продолжить</a>
                <div class="spinner-border mt-2 mb-2 mx-3" role="status" id="spinner" style="display: none">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <script>
                    document.querySelector('#next').addEventListener('click', function()
                    {
                        document.querySelector('#back').setAttribute("class", "btn btn-secondary mt-2 mb-2 mx-1 disabled");
                        document.querySelector('#next').setAttribute("class", "btn btn-primary mt-2 mb-2 mx-1 disabled");
                        document.querySelector('#spinner').style.display = 'block';
                    });
                </script>
            </div>
        </div>
        {% for round in rounds %}
        <div class="section">
            <h3 class="mb-2 mt-2">{{ round["name"] }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID дебатов</th>
                        <th>Очки OG</th>
                        <th>ПМ</th>
                        <th>ЗПМ</th>
                        <th>Очки OO</th>
                        <th>ЛО</th>
                        <th>ЗЛО</th>
                        <th>Очки CG</th>
                        <th>ЧП</th>
                        <th>СП</th>
                        <th>Очки CO</th>
                        <th>ЧО</th>
                        <th>СО</th>
                    </tr>
                </thead>
                <tbody>
                    {% for debate in round["debates"] %}
                        <tr>
                            <td>
                                {{ debate["id"] }}
                            </td>
                            <td>
                                {{ debate["og"] }}
                            </td>
                            <td>
                                {{ debate["1"] }}
                            </td>
                            <td>
                                {{ debate["3"] }}
                            </td>
                            <td>
                                {{ debate["oo"] }}
                            </td>
                            <td>
                                {{ debate["2"] }}
                            </td>
                            <td>
                                {{ debate["4"] }}
                            </td>
                            <td>
                                {{ debate["cg"] }}
                            </td>
                            <td>
                                {{ debate["5"] }}
                            </td>
                            <td>
                                {{ debate["7"] }}
                            </td>
                            <td>
                                {{ debate["co"] }}
                            </td>
                            <td>
                                {{ debate["6"] }}
                            </td>
                            <td>
                                {{ debate["8"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
    </div>
{% endblock %}
