{% extends "layout.html" %}

{% block title %}
    Дебаты - Импорт
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Дебаты импортированы</h2>
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/team/success" role="button">Назад</a>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/import/elo" role="button" id="next">Продолжить</a>
                <div class="spinner-border mx-3" role="status" id="spinner" style="display: none">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <script>
                    document.querySelector('#next').addEventListener('click', function()
                    {
                        document.querySelector('#next').setAttribute("class", "btn btn-primary mt-2 mb-2 mx-1 disabled");
                        document.querySelector('#spinner').style.display = 'block';
                    });
                </script>
            </div>
        </div>
        <div class="section">
            {{ rounds }}
        </div>
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Краткое название</th>
                        <th>Название</th>
                        <th>Этап</th>
                        <th>Категория брейка</th>
                        <th>Достижение</th>
                        <th>Тема</th>
                        <th>Инфослайд</th>
                    </tr>
                </thead>
                <tbody>
                    {% for round in rounds %}
                        <tr>
                            <td>
                                {{ round["seq"] }}
                            </td>
                            <td>
                                {{ round["short_name"] }}
                            </td>
                            <td>
                                {{ round["name"] }}
                            </td>
                            <td>
                                {% if round["stage"] == "E" %}
                                    брейковый
                                {% else %}
                                    отборочный
                                {% endif %}
                            </td>
                            <td>
                                {{ round["break_category"] }}
                            </td>
                            <td>
                                {{ round["achievement"] }}
                            </td>
                            <td>
                                {{ round["motion"] }}
                            </td>
                            <td>
                                {{ round["info_slide"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
