{% extends "layout.html" %}

{% block title %}
    Спикер в базе - Импорт
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Проверяем, есть ли спикер в базе</h2>
    <div class="container">
        <div class="section">
            <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import" role="button">Назад</a>
        </div>
        <div class="section">
            <form action="/import/speaker/add" method="post">
                <table>
                    <thead>
                        <tr>
                            <th style="width: 25%">Спикер</th>
                            <th style="width: 25%">Совпадение</th>
                            <th style="width: 25%">ID спикера</th>
                            <th style="width: 25%">ID клуба</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for speaker in speakers %}
                            <tr>
                                <td>
                                    {% if speaker["middle_name"] is defined %}
                                        {{ speaker["last_name"] }} {{ speaker["first_name"] }} {{ speaker["middle_name"] }}
                                    {% else %}
                                        {{ speaker["last_name"] }} {{ speaker["first_name"] }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if speaker["candidates"] is defined %}
                                        {% for candidate in speaker["candidates"] %}
                                            {{ candidate["last_name"] }} {{ candidate["first_name"] }} {{ candidate["middle_name"] }}, ID: {{ candidate["id"] }}
                                        {% endfor %}
                                    {% else %}
                                        Нет совпадения
                                    {% endif %}
                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="{{ speaker["internal_id"] }}-id" name="{{ speaker["internal_id"] }}-id" value="{% if speaker["candidates"] is defined %}{{ speaker["candidates"][0]["id"] }}{% endif %}" placeholder="Добавь ID, если спикер есть в базе" type="number">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="{{ speaker["internal_id"] }}-society" name="{{ speaker["internal_id"] }}-society" placeholder="Добавь ID клуба" type="number">
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-secondary mt-2 mx-1" href="/import" role="button">Назад</a>
                    <button class="btn btn-primary mt-2 mx-1" type="submit" id="submit">Продолжить</button>
                    <div class="spinner-border mx-3" role="status" id="spinner" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <script>
                        document.addEventListener('submit', function()
                        {
                            document.querySelector('#submit').setAttribute("disabled", "");
                            document.querySelector('#spinner').style.display = 'block';
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
