{% extends "layout.html" %}

{% block title %}
    Средние спикерские - Импорт
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Средние спикерские обновлены</h2>
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/elo" role="button">Назад</a>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/import/best-adjudicator" role="button" id="next">Продолжить</a>
                <div class="spinner-border mx-3" role="status" id="spinner" style="display: none">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <script>
                    document.querySelector('#next').addEventListener('click', function()
                    {
                        document.querySelector('#next').setAttribute("class", "btn btn-primary mt-2 mb-2 mx-1 disabled");
                        document.querySelector('#spinner').style.display = 'block';
                    });
                </script>
            </div>
        </div>
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th style="width: 25%">ID спикера</th>
                        <th style="width: 25%">Внутренний ID спикера</th>
                        <th style="width: 25%">Спикер</th>
                        <th style="width: 25%">Новый средний спикерский</th>
                    </tr>
                </thead>
                <tbody>
                    {% for speaker in speakers %}
                        <tr>
                            <td>
                                {{ speaker["id"] }}
                            </td>
                            <td>
                                {{ speaker["internal_id"] }}
                            </td>
                            <td>
                                {{ speaker["last_name"] }} {{ speaker["first_name"] }}
                            </td>
                            <td>
                                {{ speaker["speaker_score"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
