{% extends "layout.html" %}

{% block title %}
    Порядок ФИО - Импорт
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">В каком порядке указаны ФИО участников?</h2>
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-center">
                <form action="/import/adjudicator/format" method="post">
                    <button class="btn btn-primary mt-4 mx-1 mb-4" type="submit" name="format" id="fio" value="fio">Фамилия Имя Отчество</button>
                    <button class="btn btn-primary mt-4 mx-1 mb-4" type="submit" name="format" id="iof" value="iof">Имя Отчество Фамилия</button>
                    <button class="btn btn-primary mt-4 mx-1 mb-4" type="submit" name="format" id="if" value="if">Имя Фамилия</button>
                    <button class="btn btn-primary mt-4 mx-1 mb-4" type="submit" name="format" id="fi" value="fi">Фамилия Имя</button>
                    <div class="spinner-border mx-3" role="status" id="spinner" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <script>
                        document.addEventListener('submit', function()
                        {
                            document.querySelector('#back').setAttribute("class", "btn btn-secondary mt-2 mb-2 mx-1 disabled");
                            document.querySelector('#back-bottom').setAttribute("class", "btn btn-secondary mt-2 mb-2 mx-1 disabled");
                            document.querySelector('#fio').setAttribute("class", "btn btn-primary mt-4 mx-1 mb-4 disabled");
                            document.querySelector('#iof').setAttribute("class", "btn btn-primary mt-4 mx-1 mb-4 disabled");
                            document.querySelector('#if').setAttribute("class", "btn btn-primary mt-4 mx-1 mb-4 disabled");
                            document.querySelector('#fi').setAttribute("class", "btn btn-primary mt-4 mx-1 mb-4 disabled");
                            document.querySelector('#spinner').style.display = 'block';
                        });
                    </script>
                </form>
            </div>
        </div>
        <div class="section">
            <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/tournament/edit" role="button" id="back">Назад</a>
        </div>
        <div class="section">
            {% set i = namespace(value=1) %}
            {% for speaker in speakers %}
                {% if i.value < count %}
                    {{ speaker["name"] }},
                    {% set i.value = i.value + 1 %}
                {% else %}
                    {{ speaker["name"] }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="section">
            <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/tournament/edit" role="button" id="back-bottom">Назад</a>
        </div>
    </div>
{% endblock %}
