{% extends "layout.html" %}

{% block title %}
    Успех - Импорт
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Импорт турнира завершён</h2>
    <!-- <div>{{ adjudicators }}</div> -->
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/tournament?id={{ tournament["id"] }}" role="button">Ура!</a>
            </div>
        </div>
    </div>
{% endblock %}
