{% extends "layout.html" %}

{% block title %}
    Команды - импорт
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Команды импортированы</h2>
    <div class="container">
        <div class="section">
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/speaker/success" role="button" id="back">Назад</a>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/import/round" role="button" id="next">Продолжить</a>
                <div class="spinner-border mx-3" role="status" id="spinner" style="display: none">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <script>
                    document.querySelector('#next').addEventListener('click', function()
                    {
                        document.querySelector('#back').setAttribute("class", "btn btn-secondary mt-2 mb-2 mx-1 disabled");
                        document.querySelector('#next').setAttribute("class", "btn btn-primary mt-2 mb-2 mx-1 disabled");
                        document.querySelector('#spinner').style.display = 'block';
                    });
                </script>
            </div>
        </div>
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Внутреннее ID</th>
                        <th>Название</th>
                        <th>Спикер 1</th>
                        <th>Спикер 2</th>
                        <th>Свинг</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>
                                {{ team["id"] }}
                            </td>
                            <td>
                                {{ team["internal_id"] }}
                            </td>
                            <td>
                                {{ team["name"] }}
                            </td>
                            <td>
                                {{ team["speaker_one_id"] }}
                            </td>
                            <td>
                                {{ team["speaker_two_id"] }}
                            </td>
                            <td>
                                {% if team["swing"] == 1 %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
