{% extends "layout.html" %}

{% block title %}
    Добавить клуб
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Добавить клуб</h2>
    <div class="container">
        <div class="section">
            <form action="/add-society" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>Полное название</th>
                            <th>Сокращение</th>
                            <th>Город</th>
                            <th>Страница</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="name" name="name" type="text" required>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="short-name" name="short-name" type="text" required>
                                    </div>

                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="city" name="city" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="page" name="page" type="text">
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mt-2 mb-2 mx-1" type="submit" id="submit">Добавить</button>
                    <div class="spinner-border mx-3" role="status" id="spinner" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <script>
                        document.addEventListener('submit', function()
                        {
                            document.querySelector('#submit').setAttribute("disabled", "");
                            document.querySelector('#spinner').style.display = 'block';
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
