{% extends "layout.html" %}

{% block title %}
    Клуб добавлен
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Клуб добавлен</h2>
    <div class="container">
        <div class="section">Название: {{ society["name"] }}, Сокращение: {{ society["short_name"] }}, Город: {{ society["city"] }}, ID {{ society["id"] }}</div>
        <div class="section">
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/add-speaker" role="button">Добавить ещё дебатёра</a>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/society?id={{ society["id"] }}" role="button" id="next">Ура!</a>
            </div>
        </div>
    </div>
{% endblock %}
