{% extends "layout.html" %}

{% block title %}
    Добавить дебатёров в клуб
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Добавить дебатёров в клуб</h2>
    <div class="container">
        <div class="section">
            <form action="/add-society-speakers" method="post">
                <div class="mb-3">
                    <label for="society" class="form-label">Клуб</label>
                    <select class="form-select" id="society" required>
                        <option selected disabled>Выбери клуб</option>
                        {% for society in societies %}
                            <option value="{{ society["id"] }}">{{ society["name"] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="speakers" class="form-label">Спикеры</label>
                    <textarea type="text" class="form-control" id="speakers" rows="3"></textarea>
                    <div id="speakersHelp" class="form-text">Список ID спикеров через запятую без пробелов.</div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mt-2 mb-2 mx-1" type="submit" id="submit">Добавить</button>
                    <div class="spinner-border mx-3" role="status" id="spinner" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <script>
                        document.addEventListener('submit', function()
                        {
                            document.querySelector('#submit').setAttribute("disabled", "");
                            document.querySelector('#spinner').style.display = 'block';
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
