{% extends "layout.html" %}

{% block title %}
Редактировать судей турнира
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Редактировать судей турнира - <a href="/tournament?id={{ tournament_id }}">{{ tournament_id }}</a></h2>
    <div class="container">
        <div class="section">
            <form action="/edit-tournament-adjudicators" method="post">
                <input readonly class="form-control mx-auto" id="tournament-id" value="{{ tournament_id }}" name="tournament-id" type="number" style="display: none">
                <table>
                    <thead>
                        <tr>
                            <th>роль</th>
                            <th>судья</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in tournament_participants %}
                            <tr>
                                <td>
                                    <div>
                                        <select class="form-select mx-auto" id="role-{{ participant["id"] }}" name="role-{{ participant["id"] }}" required>
                                            <option value="adjudicator" {% if participant["role"] == "adjudicator" %}selected{% endif %}>судья</option>
                                            <option value="ca" {% if participant["role"] == "ca" %}selected{% endif %}>ГС</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    {{ participant["internal_name"] }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mt-2 mb-2 mx-1" type="submit" id="submit">Изменить</button>
                    <div class="spinner-border mt-2 mb-2 mx-3" role="status" id="spinner" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <script>
                        document.addEventListener('submit', function()
                        {
                            document.querySelector('#submit').setAttribute("disabled", "");
                            document.querySelector('#spinner').style.display = 'block';
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
