{% extends "layout.html" %}

{% block title %}
    Редактирование данных турнира
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Введите данные турнира</h2>
    <div class="container">
        <div class="section">
            <form action="/edit-tournament-data" method="post" class="row g-3">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label for="name" class="form-label">Название</label>
                        <input autocomplete="off" autofocus class="form-control mx-auto" id="name" name="name" value="{{ tournament["name"] }}" type="text" required>
                    </div>
                    <div class="col-md-4">
                        <label for="short_name" class="form-label">Краткое название</label>
                        <input autocomplete="off" autofocus class="form-control mx-auto" id="short-name" name="short-name" value="{{ tournament["short_name"] }}" type="text" required>
                    </div>
                    <div class="col-md-4">
                        <label for="link" class="form-label">Ссылка</label>
                        <input autocomplete="off" autofocus class="form-control mx-auto" id="link" name="link" value="{{ tournament["link"] }}" type="text">
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4">
                        <label for="date" class="form-label">Дата окончания</label>
                        <input autocomplete="off" autofocus class="form-control mx-auto" id="date" name="date" type="date" value="{{ tournament["date"] }}" required>
                    </div>
                    <div class="col-md-4">
                        <label for="type" class="form-label">Тип</label>
                        <select class="form-select mx-auto" id="type" name="type" required>
                            <option value="open" {% if tournament["type"] == "open" %}selected{% endif %}>Открытый</option>
                            <option value="proam" {% if tournament["type"] == "open" %}selected{% endif %}>Джедайский</option>
                            <option value="am" {% if tournament["type"] == "open" %}selected{% endif %}>Новичковый</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="tournament-id" class="form-label">ID</label>
                        <input readonly class="form-control mx-auto" id="tournament-id" value="{{ tournament["id"] }}" name="tournament-id" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary mt-2 mb-2 mx-1" type="submit" id="submit">
                            Продолжить
                        </button>
                        <div class="spinner-border mt-2 mb-2 mx-3" role="status" id="spinner" style="display: none">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <script>
                            document.addEventListener('submit', function()
                            {
                                document.querySelector('#back').setAttribute("class", "btn btn-secondary mt-2 mb-2 mx-1 disabled");
                                document.querySelector('#submit').setAttribute("disabled", "");
                                document.querySelector('#spinner').style.display = 'block';
                            });
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
