{% extends "layout.html" %}

{% block title %}
    Добавить дебатёра
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Объединить дубликаты спикеров</h2>
    <div class="container">
        <div class="section">
            <form action="/join-speakers" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>ID 1</th>
                            <th>Имя</th>
                            <th>ID 2</th>
                            <th>Имя</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="id-1" name="id-1" type="number" required>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input readonly class="form-control mx-auto" id="name-1" name="name-1" type="text">
                                    </div>

                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="id-2" name="id-2" type="number" required>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input readonly class="form-control mx-auto" id="name-2" name="name-2" type="text">
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>
                <script>
                    const
                    document.querySelector('#id-1').addEventListener('change', function()
                    {
                        var lastName = document.querySelector('#last-name').value;
                        document.querySelector('#last-name').value = document.querySelector('#first-name').value;
                        document.querySelector('#first-name').value = lastName;
                    });
                </script>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary mt-2 mb-2 mx-1" type="submit" id="submit">Объединить</button>
                    <div class="spinner-border mt-2 mb-2 mx-3" role="status" id="spinner" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <script>
                        document.addEventListener('submit', function()
                        {
                            document.querySelector('#submit').setAttribute("disabled", "");
                            document.querySelector('#spinner').style.display = 'block';
                        });
                    </script>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
