{% extends "layout.html" %}

{% block title %}
    Дебатёр добавлен
{% endblock %}

{% block audio %}
onload="autoNotify()"
{% endblock %}

{% block main %}
    <audio id="notifypop"> <!--Source the audio file. -->
        <source src="/static/notification_sound.ogg" type="audio/ogg">
        <source src="/static/notification_sound.mpeg" type="audio/mpeg">
    </audio>
    <script>
        var popupsound = document.getElementById("notifypop");

        function autoNotify() {
        popupsound.play(); //play the audio file
        }
    </script>
    <h2 class="mb-5 mt-2">Дубликаты объединены</h2>
    <div class="container">
        <div class="section">Дебатёр с ID {{ speaker_two_id }} удалён, все его записи добавлены к <a href="/speaker?id={{ speaker_one_id }}">дебатёру с ID {{ speaker_one_id }}</a>. Если удалённый дебатёр участвовал хоть в одном турнире, нужно обязательно пересчитать ELO (это можно сделать после объединения всех записей, которые ты планируешь объединить).</div>
        <div class="section">
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/join-speakers" role="button" id="next">Объединить ещё</a>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/recalculate-elo" role="button" id="next">Пересчитать ELO</a>
            </div>
        </div>
    </div>
{% endblock %}
