{% extends "layout.html" %}

{% block title %}
    {{ tournament["name"] }}
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">{{ tournament["name"] }} {% if session["user_id"] %}<a class="btn btn-primary mt-2 mb-2 mx-1" href="/edit-tournament-data?id={{ tournament["id"] }}" role="button" id="edit">Редактировать данные</a>{% endif %}</h2>
    <div class="container">
        <div class="row mt-3 mx-1 mb-4">
            <div class="col-sm-6 col-md-3">
                <h4>Тип:<small class="text-muted">
                {% if tournament["type"] == "open" %}
                    открытый
                {% elif tournament["type"] == "am" %}
                    новичковый
                {% elif tournament["type"] == "proam" %}
                    джедайский
                {% endif %}</small></h3>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Дата: <small class="text-muted">{{ tournament["date"] }}</small></h4>
            </div>
            <div class="col-sm-6 col-md-3">
                <h4>Средний ELO<sup><a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3_%D0%AD%D0%BB%D0%BE" target="_blank">*</a></sup>: <small class="text-muted">{{ tournament["average_rating"] }}</small></h4>
            </div>
            {% if tournament["page"] != None %}
                <div class="col-sm-6 col-md-3">
                    <h4><a href="{{ tournament["page"] }}">{{ tournament["page"] }}</a></h4>
                </div>
            {% endif %}
        </div>
        <div class="row mt-3">
            <div class="col-sm-12 col-md-4">
                <table id="achievements">
                    <thead>
                        <tr>
                            <th colspan="2">Победители</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for achievement in achievements %}
                            <tr>
                                <td>
                                    <a href="/speaker?id={{ achievement["speaker_id"] }}">{{ achievement["first_name"] }} {{ achievement["last_name"] }}</a>
                                </td>
                                <td>
                                    {{ achievement["name"] }}
                                    {% if achievement["type"] == "team" and achievement["break_category_name"] != "open" %}
                                        ({{ achievement["break_category_name"] }})
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-4">
                <table id="tab">
                    <thead>
                        <tr>
                            <th>Тэбы и раунды</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/team-tab?id={{ tournament["id"] }}">Командный тэб</a>
                            </td>
                        </tr>
                        {% for category in speaker_categories %}
                            <tr>
                                <td>
                                    <a href="/team-tab?id={{ tournament["id"] }}&category={{ category["id"] }}">Командный тэб ({{ category["name"] }})</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <a href="/speaker-tab?id={{ tournament["id"] }}">Спикерский тэб</a>
                            </td>
                        </tr>
                        {% for category in speaker_categories %}
                            <tr>
                                <td>
                                    <a href="/speaker-tab?id={{ tournament["id"] }}&category={{ category["id"] }}">Спикерский тэб ({{ category["name"] }})</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for round in rounds %}
                            <tr>
                                <td>
                                    <a href="/round?id={{ round["id"] }}">{{ round["name"] }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-4">
                <table id="adjudicators">
                    <thead>
                        <tr>
                            <th colspan="2">Команда {% if session["user_id"] %}<a href="/edit-tournament-adjudicators?id={{ tournament["id"] }}">(Редактировать судей)</a>{% endif %}</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for participant in participants %}
                            {% if participant["role"] == "convener" %}
                                <tr>
                                    <td>
                                        Организатор
                                    </td>
                                    <td>
                                        <a href="/speaker?id={{ participant["id"] }}">{{ participant["first_name"] }} {{ participant["last_name"] }}<br>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for participant in participants %}
                            {% if participant["role"] == "ca" %}
                                <tr>
                                    <td>
                                        Главный Судья
                                    </td>
                                    <td>
                                        <a href="/speaker?id={{ participant["id"] }}">{{ participant["first_name"] }} {{ participant["last_name"] }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for participant in participants %}
                            {% if participant["role"] == "adjudicator" %}
                                <tr>
                                    <td>
                                        Судья
                                    </td>
                                    <td>
                                        <a href="/speaker?id={{ participant["id"] }}">{{ participant["first_name"] }} {{ participant["last_name"] }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
