{% extends "layout.html" %}

{% block title %}
    {{ tournament["name"] }}
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">{{ tournament["name"] }}</h2>
    <div class="container">
        <!-- <div class="row">{{speaker_categories}}</div> -->
        <div class="row mt-3 mx-1">
            <table id="tournament">
                <thead>
                    <tr>
                        <th>
                            Тип
                        </th>
                        <th>
                            Дата
                        </th>
                        <th>
                            Средний ELO
                        </th>
                        <th>
                            Сообщество
                        </th>
                        <th>
                            Организаторы
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {% if tournament["type"] == "open" %}
                                    открытый
                            {% elif tournament["type"] == "am" %}
                                новичковый
                            {% elif tournament["type"] == "proam" %}
                                джедайский
                            {% endif %}
                        </td>
                        <td>
                            {{ tournament["date"] }}
                        </td>
                        <td>
                            {{ tournament["average_rating"] }}
                        </td>
                        <td>
                            {% if tournament["page"] != None %}
                                <a href="{{ tournament["page"] }}">{{ tournament["page"] }}</a>
                            {% else %}
                                нет
                            {% endif %}
                        </td>
                        <td>

                            {% for participant in participants %}
                                {% if participant["role"] == "convener" %}
                                    <a href="/speaker?id={{ participant["id"] }}">{{ participant["first_name"] }} {{ participant["last_name"] }}<br>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <script>
                $('#tournament').DataTable({
                    responsive: true
                });
            </script>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12 col-md-4">
                <table id="achievements">
                    <thead>
                        <tr>
                            <th colspan="2">Победители</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for achievement in achievements %}
                            <tr>
                                <td>
                                    <a href="/speaker?id={{ achievement["speaker_id"] }}">{{ achievement["first_name"] }} {{ achievement["last_name"] }}</a>
                                </td>
                                <td>
                                    {{ achievement["name"] }}
                                    {% if achievement["type"] == "team" and achievement["break_category_name"] != "open" %}
                                        ({{ achievement["break_category_name"] }})
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-4">
                <table id="tab">
                    <thead>
                        <tr>
                            <th>Тэбы и раунды</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/team-tab?id={{ tournament["id"] }}">Командный тэб</a>
                            </td>
                        </tr>
                        {% for category in speaker_categories %}
                            <tr>
                                <td>
                                    <a href="/team-tab?id={{ tournament["id"] }}&category={{ category["id"] }}">Командный тэб ({{ category["name"] }})</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <a href="/speaker-tab?id={{ tournament["id"] }}">Спикерский тэб</a>
                            </td>
                        </tr>
                        {% for category in speaker_categories %}
                            <tr>
                                <td>
                                    <a href="/speaker-tab?id={{ tournament["id"] }}&category={{ category["id"] }}">Спикерский тэб ({{ category["name"] }})</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for round in rounds %}
                            <tr>
                                <td>
                                    <a href="/round?id={{ round["id"] }}">{{ round["name"] }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 col-md-4">
                <table id="adjudicators">
                    <thead>
                        <tr>
                            <th colspan="2">Судьи</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for participant in participants %}
                            {% if participant["role"] == "ca" %}
                                <tr>
                                    <td>
                                        Главный Судья
                                    </td>
                                    <td>
                                        <a href="/speaker?id={{ participant["id"] }}">{{ participant["first_name"] }} {{ participant["last_name"] }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% for participant in participants %}
                            {% if participant["role"] == "adjudicator" %}
                                <tr>
                                    <td>
                                        Судья
                                    </td>
                                    <td>
                                        <a href="/speaker?id={{ participant["id"] }}">{{ participant["first_name"] }} {{ participant["last_name"] }}</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
