{% extends "layout.html" %}

{% block title %}
    Спикеры
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Клубы</h2>
    <div class="container-md">
        <div class="row">
            {% for society in societies %}
                <div class="col-sm-6 col-md-4"><h4 class="mb-5"><a href="/society?id={{ society["id"] }}">{{ society["name"] }}</a></h4></div>
            {% endfor %}
            <!-- <div class="col" style="text-align: left">
                <table id="speakers" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Клуб</th>
                            <th>ELO</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for society in societies %}
                            <tr>
                                <td>
                                    <a href="/society?id={{ society["id"] }}">{{ society["name"] }}</a>
                                </td>
                                <td>
                                    {{ society["rating"] }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        var table = $('#speakers').DataTable( {
                            language: {
                                url: '//cdn.datatables.net/plug-ins/1.12.0/i18n/ru.json',
                                paginate: {
                                    first:    '«',
                                    previous: '‹',
                                    next:     '›',
                                    last:     '»'
                                }
                            }
                        } );
                    });
                </script>
            </div> -->
        </div>
    </div>
{% endblock %}
