{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Команды импортированы</h2>
    <div class="container">
        <div class="section">
            <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/speaker/success" role="button">Назад</a>
            <a class="btn btn-primary mt-2 mb-2 mx-1" href="/import/round" role="button">Продолжить</a>
        </div>
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Внутреннее ID</th>
                        <th>Название</th>
                        <th>Спикер 1</th>
                        <th>Спикер 2</th>
                        <th>Свинг</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>
                                {{ team["id"] }}
                            </td>
                            <td>
                                {{ team["internal_id"] }}
                            </td>
                            <td>
                                {{ team["name"] }}
                            </td>
                            <td>
                                {{ team["speaker_one_id"] }}
                            </td>
                            <td>
                                {{ team["speaker_two_id"] }}
                            </td>
                            <td>
                                {% if team["swing"] == 1 %}
                                    Да
                                {% else %}
                                    Нет
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
