{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Спикеры импортированы</h2>
    <div class="container">
        <div class="section">
            <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/speaker/confirm" role="button">Назад</a>
            <a class="btn btn-primary mt-2 mb-2 mx-1" href="/import/team" role="button">Продолжить</a>
        </div>
        <div class="section">
            {{ speakers }}
            <table>
                <thead>
                    <tr>
                        <th style="width: 20%">ID</th>
                        <th style="width: 20%">Фамилия</th>
                        <th style="width: 20%">Имя</th>
                        <th style="width: 20%">Отчество</th>
                        <th style="width: 20%">Команда</th>
                    </tr>
                </thead>
                <tbody>
                    {% for speaker in speakers %}
                        <tr>
                            <td>
                                {{ speaker["id"] }}
                            </td>
                            <td>
                                {{ speaker["last_name"] }}
                            </td>
                            <td>
                                {{ speaker["first_name"] }}
                            </td>
                            <td>
                                {{ speaker["middle_name"] }}
                            </td>
                            <td>
                                {{ speaker["team"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
