{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Проверьте раунды</h2>
    <div class="container">
        <div class="section">
            <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/team/success" role="button">Назад</a>
        </div>
        <div class="section">
            {{ rounds }}
        </div>
        <div class="section">
            <form action="/import/debates" method="post">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Краткое название</th>
                            <th>Тема</th>
                            <th>Инфослайд</th>
                            <th>Категория брейка</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for round in rounds %}
                            <tr>
                                <td>
                                    {{ round["seq"] }}
                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="{{ round["internal_id"] }}-name" name="{{ round["internal_id"] }}-name" value="{{ round["name"] }}" type="text" required>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="{{ round["internal_id"] }}-short-name" name="{{ round["internal_id"] }}-short-name" value="{{ round["short_name"] }}" type="text" required>
                                    </div>

                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="{{ round["internal_id"] }}-motion" name="{{ round["internal_id"] }}-motion" value="{{ round["motion"] }}" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input autocomplete="off" class="form-control mx-auto" id="{{ round["internal_id"] }}-info-slide" name="{{ round["internal_id"] }}-info-slide" value="{{ round["info_slide"] }}" type="text">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <select class="form-select" id="{{ round["internal_id"] }}-break-category" name="{{ round["internal_id"] }}-break-category">
                                            <option value="open" selected>open</option>
                                            <option value="novice">novice</option>
                                            <option value="other">Другое</option>
                                          </select>
                                          <input autocomplete="off" class="form-control mx-auto" id="{{ round["internal_id"] }}-break-category-other" name="{{ round["internal_id"] }}-break-category-other" value="{{ round["break_category"] }}" type="text">
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/team/success" role="button">Назад</a>
                <button class="btn btn-primary mt-2 mb-2 mx-1" type="submit">Продолжить</button>
            </form>
        </div>
    </div>
{% endblock %}
