{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">ELO рейтинг обновлён</h2>
    <div class="container">
        <div class="section">
            <a class="btn btn-secondary mt-2 mb-2 mx-1" href="/import/team/success" role="button">Назад</a>
            <a class="btn btn-primary mt-2 mb-2 mx-1" href="/import/elo" role="button">Продолжить</a>
        </div>
        <div class="section">
            {{ updated_count }}
            <br>
            {{ all_updated_ratings }}
            
        </div>
    </div>
{% endblock %}
