{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Рейтинг по спикерским баллам</h2>
    <div class="container">
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th style="width: 25%">ID спикера</th>
                        <th style="width: 25%">Спикер</th>
                        <th style="width: 25%">Средний спикерский</th>
                        <th style="width: 25%">Рейтинг</th>
                    </tr>
                </thead>
                <tbody>
                    {% for speaker in speakers %}
                        <tr>
                            <td>
                                {{ speaker["id"] }}
                            </td>
                            <td>
                                {{ speaker["last_name"] }} {{ speaker["first_name"] }}
                            </td>
                            <td>
                                {{ speaker["speaker_score"] }}
                            </td>
                            <td>
                                {{ speaker["rating"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
