{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Рейтинг по спикерским баллам</h2>
    <div class="container">
        <div class="section" style="text-align: left">
            <table id="speakers" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 25%">Место</th>
                        <th style="width: 25%">Спикер</th>
                        <th style="width: 25%">Средний спикерский</th>
                        <th style="width: 25%">Рейтинг</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = namespace(value=0) %}
                    {% set previous_score = namespace(value=101) %}
                    {% for speaker in speakers %}
                        <tr>
                            <td>
                                {% if speaker["speaker_score"] < previous_score.value %}
                                    {% set i.value = i.value + 1 %}
                                    {% set previous_score.value = speaker["speaker_score"] %}
                                {% endif %}
                                {{ i.value }}
                            </td>
                            <td>
                                <a href="/speaker?id={{ speaker["id"] }}">{{ speaker["last_name"] }} {{ speaker["first_name"] }}</a>
                            </td>
                            <td>
                                {{ speaker["speaker_score"] }}
                            </td>
                            <td>
                                {{ speaker["rating"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                $(document).ready(function () {
                    $('#speakers').DataTable( {
                        columnDefs: [
                            { orderable: false, targets: 0 },
                            { orderable: false, targets: 1 }
                        ],
                        order: [[2, 'desc']],
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.12.0/i18n/ru.json'
                        }
                    } );
                });
            </script>
        </div>
    </div>
{% endblock %}
