{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Раунд</h2>
    <div>{{ debates[1] }}</div>
    <div class="container">
        <div class="row mt-3">
            <table>
                <thead>
                    <tr>
                        <th>
                            Первое правительство
                        </th>
                        <th>
                            Первая оппозиция
                        </th>
                        <th>
                            Второе правительство
                        </th>
                        <th>
                            Вторая оппозиция
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for debate in debates %}
                        <tr>
                            <td>
                                {{ debate["speeches"][0]["first_name"] }} {{ debate["speeches"][0]["last_name"] }}
                                <br>
                                {{ debate["speeches"][2]["first_name"] }} {{ debate["speeches"][2]["last_name"] }}
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
