{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Раунд</h2>
    <div>{{ debates }}</div>
    <div class="container">
        <div class="row mt-3">
            <table>
                <thead>
                    <tr>
                        <th colspan="3">
                            Первое правительство
                        </th>
                        <th colspan="3">
                            Первая оппозиция
                        </th>
                        <th colspan="3">
                            Второе правительство
                        </th>
                        <th colspan="3">
                            Вторая оппозиция
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for debate in debates %}
                        <tr>
                            <!-- OG -->
                            <td>
                                {{ debate["speeches"][0]["first_name"] }} {{ debate["speeches"][0]["last_name"] }}
                                <br>
                                {{ debate["speeches"][2]["first_name"] }} {{ debate["speeches"][2]["last_name"] }}
                            </td>
                            <td>
                                {{ debate["speeches"][0]["score"] }}
                                <br>
                                {{ debate["speeches"][2]["score"] }}
                            </td>
                            <td>
                                {{ debate["team_performances"][0]["score"] }}
                            </td>
                            <!-- OO -->
                            <td>
                                {{ debate["speeches"][1]["first_name"] }} {{ debate["speeches"][1]["last_name"] }}
                                <br>
                                {{ debate["speeches"][3]["first_name"] }} {{ debate["speeches"][3]["last_name"] }}
                            </td>
                            <td>
                                {{ debate["speeches"][1]["score"] }}
                                <br>
                                {{ debate["speeches"][3]["score"] }}
                            </td>
                            <td>
                                {{ debate["team_performances"][1]["score"] }}
                            </td>
                            <!-- CG -->
                            <td>
                                {{ debate["speeches"][4]["first_name"] }} {{ debate["speeches"][4]["last_name"] }}
                                <br>
                                {{ debate["speeches"][6]["first_name"] }} {{ debate["speeches"][6]["last_name"] }}
                            </td>
                            <td>
                                {{ debate["speeches"][4]["score"] }}
                                <br>
                                {{ debate["speeches"][6]["score"] }}
                            </td>
                            <td>
                                {{ debate["team_performances"][2]["score"] }}
                            </td>
                            <!-- CO -->
                            <td>
                                {{ debate["speeches"][5]["first_name"] }} {{ debate["speeches"][5]["last_name"] }}
                                <br>
                                {{ debate["speeches"][7]["first_name"] }} {{ debate["speeches"][7]["last_name"] }}
                            </td>
                            <td>
                                {{ debate["speeches"][5]["score"] }}
                                <br>
                                {{ debate["speeches"][7]["score"] }}
                            </td>
                            <td>
                                {{ debate["team_performances"][3]["score"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
