{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">{{ speaker["last_name"] }} {{ speaker["first_name"] }}</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                Рейтинг: {{ speaker["rating"] }}
            </div>
            <div class="col">
                Средний спикерский: {{ speaker["speaker_score"] }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ speeches }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <canvas id="myChart"></canvas>
            </div>
            <script>
                const labels = [
                    {% set i = namespace(value=1) %}
                    {% for speech in speeches %}
                        {% if speech["score"] != None %}
                            {% if i.value < count %}
                                "{{ speech["position_name"] }}",
                                {% set i.value = i.value + 1 %}
                            {% else %}
                                "{{ speech["position_name"] }}"
                            {% endif %}
                        {% endif %}
                    {% endfor %}];

                const data = {
                  labels: labels,
                  datasets: [{
                    label: 'My First dataset',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% set i = namespace(value=1) %}
                        {% for speech in speeches %}
                            {% if speech["score"] != None %}
                                {% if i.value < count %}
                                    {{ speech["score"] }},
                                    {% set i.value = i.value + 1 %}
                                {% else %}
                                    {{ speech["score"] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}],
                  }]
                };

                const config = {
                  type: 'line',
                  data: data,
                  options: {}
                };
            </script>
            <script>
                const myChart = new Chart(
                  document.getElementById('myChart'),
                  config
                );
            </script>

            <div class="col-6">
                test
            </div>
            <!-- <table>
                <thead>
                    <tr>
                        <th style="width: 25%">Место</th>
                        <th style="width: 25%">Спикер</th>
                        <th style="width: 25%">Средний спикерский</th>
                        <th style="width: 25%">Рейтинг</th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = namespace(value=0) %}
                    {% set previous_score = namespace(value=101) %}
                    {% for speaker in speakers %}
                        <tr>
                            <td>
                                {% if speaker["speaker_score"] < previous_score.value %}
                                    {% set i.value = i.value + 1 %}
                                    {% set previous_score.value = speaker["speaker_score"] %}
                                {% endif %}
                                {{ i.value }}
                            </td>
                            <td>
                                {{ speaker["last_name"] }} {{ speaker["first_name"] }}
                            </td>
                            <td>
                                {{ speaker["speaker_score"] }}
                            </td>
                            <td>
                                {{ speaker["rating"] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> -->
        </div>
    </div>
{% endblock %}
