{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">{{ speaker["last_name"] }} {{ speaker["first_name"] }}</h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Средний спикерский: {{ speaker["speaker_score"] }}</h3>
            </div>
            <div class="col">
                <h3>Рейтинг: {{ speaker["rating"] }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ speeches }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <canvas id="speaksChart"></canvas>
            </div>
            <script>
                const labels_speaks = [
                    {% set i = namespace(value=1) %}
                    {% for speech in speeches %}
                        {% if speech["score"] != None %}
                            {% if i.value < count %}
                                "{{ speech["position_name"] }}",
                                {% set i.value = i.value + 1 %}
                            {% else %}
                                "{{ speech["position_name"] }}"
                            {% endif %}
                        {% endif %}
                    {% endfor %}];

                const data_speaks = {
                  labels: labels_speaks,
                  datasets: [{
                    label: 'Спикерские',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% set i = namespace(value=1) %}
                        {% for speech in speeches %}
                            {% if speech["score"] != None %}
                                {% if i.value < count %}
                                    {{ speech["score"] }},
                                    {% set i.value = i.value + 1 %}
                                {% else %}
                                    {{ speech["score"] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}],
                  }]
                };

                const config_speaks = {
                  type: 'line',
                  data: data_speaks,
                  options: {
                        plugins: {
                            legend: {
                                display: false,
                                labels: {
                                    color: 'rgb(255, 99, 132)'
                                }
                            }
                        }
                    }
                };

                const speaksChart = new Chart(
                  document.getElementById('speaksChart'),
                  config_speaks
                );
            </script>

            <div class="col-6">
                <canvas id="ratingChart"></canvas>
            </div>
            <script>
                const labels_rating = [
                    {% set i = namespace(value=1) %}
                    {% for speech in speeches %}
                        {% if speech["rating"] != None %}
                            {% if i.value < count %}
                                "{{ speech["position_name"] }}",
                                {% set i.value = i.value + 1 %}
                            {% else %}
                                "{{ speech["position_name"] }}"
                            {% endif %}
                        {% endif %}
                    {% endfor %}];

                const data_rating = {
                  labels: labels_rating,
                  datasets: [{
                    label: 'Рейтинг',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% set i = namespace(value=1) %}
                        {% for speech in speeches %}
                            {% if speech["rating"] != None %}
                                {% if i.value < count %}
                                    {{ speech["rating"] }},
                                    {% set i.value = i.value + 1 %}
                                {% else %}
                                    {{ speech["rating"] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}],
                  }]
                };

                const config_rating = {
                  type: 'line',
                  data: data_rating,
                  options: {
                        plugins: {
                            legend: {
                                display: false,
                                labels: {
                                    color: 'rgb(255, 99, 132)'
                                }
                            }
                        }
                    }
                };

                const ratingChart = new Chart(
                  document.getElementById('ratingChart'),
                  config_rating
                );
            </script>
        </div>
        <div class="row">
            <div class="col">
                <canvas id="SpeaksByPositionChart"></canvas>
            </div>
            <script>
                const labels_speaks = [
                    {% set i = namespace(value=1) %}
                    {% for speech in speeches %}
                        {% if speech["score"] != None %}
                            {% if i.value < count %}
                                "{{ speech["position_name"] }}",
                                {% set i.value = i.value + 1 %}
                            {% else %}
                                "{{ speech["position_name"] }}"
                            {% endif %}
                        {% endif %}
                    {% endfor %}];

                const data_speaks = {
                  labels: labels_speaks,
                  datasets: [{
                    label: 'Спикерские',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [
                        {% set i = namespace(value=1) %}
                        {% for speech in speeches %}
                            {% if speech["score"] != None %}
                                {% if i.value < count %}
                                    {{ speech["score"] }},
                                    {% set i.value = i.value + 1 %}
                                {% else %}
                                    {{ speech["score"] }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}],
                  }]
                };

                const config_speaks = {
                  type: 'line',
                  data: data_speaks,
                  options: {
                        plugins: {
                            legend: {
                                display: false,
                                labels: {
                                    color: 'rgb(255, 99, 132)'
                                }
                            }
                        }
                    }
                };

                const speaksChart = new Chart(
                  document.getElementById('speaksChart'),
                  config_speaks
                );
            </script>

            <div class="col-2">
                <canvas id="speaksByPositionChart"></canvas>
            </div>
            <script>
                const labels_speaks_by_position = [
                ];

                const data_speaks_by_position = {
                  labels: labels_speaks_by_position,
                  datasets: [{
                    label: 'Рейтинг',
                    fill: true,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)',
                    data: [{{ speaks_by_position }}],
                  }]
                };

                const config_speaks_by_position = {
                  type: 'radar',
                  data: data_speaks_by_position,
                  options: {
                        plugins: {
                            legend: {
                                display: false
                            }
                        }
                    }
                };

                const speaksByPositionChart = new Chart(
                  document.getElementById('speaksByPositionChart'),
                  config_speaks_by_position
                );
            </script>
        </div>
    </div>
{% endblock %}
