{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">{{ tournament["name"] }}</h2>
    <div class="container">
        <div class="row">{{speakers}}</div>
        <div class="row mt-3">
            <table>
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Спикер
                        </th>
                        <th>
                            Средний спикерский
                        </th>
                        <th>
                            Рейтинг
                        </th>
                    </tr>
                </thead>
                <tbody>
            </table>
        </div>
    </div>
{% endblock %}
