{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Buy</h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="AAAA" value="{{ pre_filled_stock }}" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="1" type="number">
        </div>
            <div class="p3">Current cash: {{ cash }}</div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}