{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div class="container">
        <div class="h2 mb-5 mt-2">Transaction History for {{ user }}</div>
        <div class="section">
            <table>
                <thead>
                    <tr>
                        <th style="width: 20%">Date and Time</th>
                        <th style="width: 20%">Transaction Type</th>
                        <th style="width: 20%">Symbol</th>
                        <th style="width: 20%">Name</th>
                        <th style="width: 20%">Price</th>
                        <th style="width: 20%">Number</th>
                        <th style="width: 20%">Sum</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in history %}
                    <tr class="text-{{ transaction["color"] }}">
                        <td>{{ transaction["datetime"] }}</td>
                        <td>{{ transaction["type"] }}</td>
                        <td>{{ transaction["symbol"] }}</td>
                        <td>{{ transaction["name"] }}</td>
                        <td>{{ transaction["price"] }}</td>
                        <td>{{ transaction["number"] }}</td>
                        <td>{{ transaction["sum"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
