{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
    <div class="container-md">
        <div class="h2 mb-5 mt-2">Привет!</div>
        <div class="row mb-4">
            <div class="col">
                <div class="row">
                    <div class="h2 mb-5 mt-2">Сайт обновлён, идёт добавление турниров</div>
                    <div class="h4 mb-5 mt-2">Скоро всё будет)</div>
                    <!-- <p>Это Артём Самарский. Представляю вам новую версию дебатрейтинга! Здесь можно посмотреть рейтинг дебатёров по <a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3_%D0%AD%D0%BB%D0%BE">ELO</a> и по среднему спикерскому, а также увидеть результаты турниров и отдельных раундов. На странице каждого спикера — много интересной статистики. ELO рейтинг пока не точный, поскольку в системе мало данных.</p>
                    <p>На сайт загружены все турниры, у которых работает tabbycat и установлены правильные настройки API. Следующие турниры добавить нельзя, пока не будут изменены настройки в tabbycat: OT RDL II, Полемика 2021, ОТ ИТМО 2021, С Дону выдачи нет, IV Кубок Южных столиц, Зимний турнир ВШЭ, ОТ ЮФ III. Если у вас есть доступ к этим кошкам, напишите, пожалуйста, мне.</p>
                    <p>Пожалуйста, сообщите мне, если заметили ошибку. Буду благодарен добровольцам, которые готовы взять на себя загрузку данных с турниров (на каждый турнир уходит 10-15 мин).</p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4>Лучшие спикеры</h4>
                <table>
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Спикер
                            </th>
                            <th>
                                ELO
                            </th>
                            <th>
                                Спик
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for speaker in speakers %}
                            <tr>
                                <th>
                                    {{ speaker["ranking_by_rating"] }}
                                </th>
                                <th>
                                    <a href="/speaker?id={{ speaker["id"] }}">{{ speaker["first_name"] }} {{ speaker["last_name"] }}</a>
                                </th>
                                <th>
                                    {{ speaker["rating"] }}
                                </th>
                                <th>
                                    {{ speaker["speaker_score"] }}
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/speakers" role="button">Все спикеры</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <h4>Последние турниры</h4>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Турнир
                            </th>
                            <th>
                                Дата
                            </th>
                            <th>
                                Средний ELO
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tournament in tournaments %}
                            <tr>
                                <th>
                                    <a href="/tournament?id={{ tournament["id"] }}">{{ tournament["short_name"] }}</a>
                                </th>
                                <th>
                                    {{ tournament["date"] }}
                                </th>
                                <th>
                                    {{ tournament["average_rating"] }}
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/tournaments" role="button">Все турниры</a>
            </div>
            <div class="container">
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/societies" role="button">Список клубов</a>
            </div>
        </div>
    </div>
{% endblock %}
