{% extends "layout.html" %}

{% block title %}
    Главная
{% endblock %}

{% block main %}
    <div class="container-md">
        <div class="h2 mb-5 mt-2">Рейтинг русскоязычного дебатного сообщества</div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4>Лучшие спикеры</h4>
                <table>
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Спикер
                            </th>
                            <th>
                                ELO<sup><a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3_%D0%AD%D0%BB%D0%BE" target="_blank">*</a></sup>
                            </th>
                            <th>
                                Спик
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for speaker in speakers %}
                            <tr>
                                <th>
                                    {{ speaker["ranking_by_rating"] }}
                                </th>
                                <th>
                                    <a href="/speaker?id={{ speaker["id"] }}">{{ speaker["first_name"] }} {{ speaker["last_name"] }}</a>
                                </th>
                                <th>
                                    {{ speaker["rating"] }}
                                </th>
                                <th>
                                    {{ speaker["speaker_score"] }}
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/speakers" role="button">Все спикеры</a>
            </div>
            <div class="col-sm-12 col-md-6">
                <h4>Последние турниры</h4>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Турнир
                            </th>
                            <th>
                                Дата
                            </th>
                            <th>
                                Средний ELO<sup><a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3_%D0%AD%D0%BB%D0%BE" target="_blank">*</a></sup>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tournament in tournaments %}
                            <tr>
                                <th>
                                    <a href="/tournament?id={{ tournament["id"] }}">{{ tournament["short_name"] }}</a>
                                </th>
                                <th>
                                    {{ tournament["date"] }}
                                </th>
                                <th>
                                    {{ tournament["average_rating"] }}
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/tournaments" role="button">Все турниры</a>
            </div>
            <div class="container">
                <a class="btn btn-primary mt-2 mb-2 mx-1" href="/societies" role="button">Список клубов</a>
            </div>
        </div>
    </div>
{% endblock %}
