{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h2 class="mb-5 mt-2">Sell</h2>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" id="symbol" name="symbol">
                <option disabled {% if pre_filled_stock is none %}selected{% endif %}>Select Symbol</option>
                {% for stock in stocks %}
                        <option value="{{ stock["symbol"] }}" {{ stock["selected"]}} >{{ stock["symbol"] }}</td>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="1" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}